<ion-header>
  <ion-toolbar>
    <ion-title>moj-tiket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="parovi.length > 0 ? true:false">
    <ion-list style="max-height: 300px; overflow-y: scroll; font-size: small;">
      <ion-row>
        <ion-col size="6">Utakmica</ion-col>
        <ion-col size="6">
          Kvota
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let par of parovi; index as i">
        <ion-col size="6">
          <ion-item style="font-size: small;">
            <ion-label>
              {{ par.utakmica.timDomacin.naziv}} -
              {{par.utakmica.timGost.naziv}}</ion-label
            >
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item style="font-size: small;">
            <ion-label>
              {{par.kvota.nazivKvote}} - {{par.kvota.vrednostKvote}}
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item>
            <ion-icon
              name="close-circle-outline"
              slot="end"
              (click)="obrisiPar(par)"
            ></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Unesi uplatu</ion-label>
          <ion-input type="number" clearInput></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-buttons>
          <ion-button expand="block" slot="start" fill="outline">
            <ion-icon name="bulb-outline" slot="end"></ion-icon>
            Odigraj tiket
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="parovi.length === 0 ? true:false">
    <ion-grid >
      <ion-row>
        <ion-col>
          <p> Trenutno nema odigranih kvota. </p>
          <a routerLink="./utakmice"> Idi na utakmice.</a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  

</ion-content>
