<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
     
      <ion-tab-button tab="utakmice">
        <ion-icon name="basketball-outline"></ion-icon>
        <ion-label>Utakmice</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="moj-tiket">
        <ion-icon name="receipt-outline"></ion-icon>
        <ion-label>Moj tiket</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="moj-profil">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Moj profil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
