<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="utakmice" [text]="tekst" [icon]="ajkon">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-items-center" size="6" offset="2">
        <!-- safe navigation operator ? 
        https://stackoverflow.com/questions/41242793/angular2-error-typeerror-cannot-read-property-of-undefined
        utakmica je nedefinisana u momentu kad se templejt renderuje. Http poziv se jos nije zavrsio, sno se koristi da se zastiti 
        property 
        https://angular.io/guide/template-syntax#safe-navigation-operator
        -->
        <ion-img
          *ngIf="utakmica?.timDomacin.logo ? true : false"
          [src]="utakmica?.timDomacin?.logo"
          alt="timDomacinSlika"
          style="height: 100px; width: 100px;"
        >
        </ion-img>
      </ion-col>
      <ion-col class="ion-align-items-center" size="6" offset="-2">
        <ion-img
          *ngIf="utakmica?.timGost.logo ? true : false"
          [src]="utakmica?.timGost.logo"
          alt="timGostSlika"
          style="height: 100px; width: 100px;"
        >
        </ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-list class="igrac-list ion-align-items-center" lines="none">
          <ion-item *ngFor="let igrac of utakmica?.timDomacin.players">
            <ion-img
              [src]="igrac.slika"
              alt="igracSlika"
              style="height: 75px; width: 75px;"
              slot="end"
            >
            </ion-img>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="6">
        <ion-list class="igrac-list ion-align-items-center" lines="none">
          <ion-item *ngFor="let igrac of utakmica?.timGost.players">
            <ion-img
              [src]="igrac.slika"
              alt="igracSlika"
              style="height: 75px; width: 75px;"
              slot="start"
            >
            </ion-img>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center" size="12">
        <h4>KVOTE</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list class="kvota-list">
          <ion-item *ngFor="let kvota of utakmica?.kvote">
            <ion-label> {{ kvota.nazivKvote}}  {{ kvota.vrednostKvote }} </ion-label>
            <ion-buttons>
              <ion-button
                slot="end"
                expand="block"
                color="primary"
                fill="outline"
                (click) = "odigrajKvotu(kvota)"
              >
                Odigraj
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
